
.icon-market-icon:before { content: '\e800'; } /* '' */
.icon-warning-circle:before { content: '\e801'; } /* '' */
.icon-edit-pencil:before { content: '\e802'; } /* '' */
.icon-plus-circle:before { content: '\e803'; } /* '' */
.icon-file-curl-icon:before { content: '\e804'; } /* '' */
.icon-pasar-icon:before { content: '\e805'; } /* '' */
.icon-rupiah-icon:before { content: '\e808'; } /* '' */
.icon-garbage:before { content: '\e809'; } /* '' */
.icon-market-lev-icon:before { content: '\e80a'; } /* '' */
.icon-line-view-icon:before { content: '\e80b'; } /* '' */
.icon-form-icon:before { content: '\e80c'; } /* '' */
.icon-rupiah-icon-single:before { content: '\e80d'; } /* '' */
.icon-arrow-icon:before { content: '\e80e'; } /* '' */
.icon-icon-location:before { content: '\e80f'; } /* '' */
.icon-remove-1:before { content: '\e810'; } /* '' */
.icon-database-icon:before { content: '\e811'; } /* '' */
.icon-remove:before { content: '\e812'; } /* '' */
.icon-add-lighter:before { content: '\e813'; } /* '' */
.icon-menu-icon:before { content: '\e814'; } /* '' */
.icon-add:before { content: '\e815'; } /* '' */
.icon-people-default-icon:before { content: '\e816'; } /* '' */
.icon-people-tie-icon:before { content: '\e817'; } /* '' */
.icon-people-null-icon:before { content: '\e818'; } /* '' */
.icon-verifikasi-document-icon:before { content: '\e819'; } /* '' */
.icon-dashboard-icon:before { content: '\e81b'; } /* '' */
.icon-documents-icon:before { content: '\e81d'; } /* '' */